<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912541914312-og7l6p9e72dvbs4uu8iffk20kcplpj52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912541914312-og7l6p9e72dvbs4uu8iffk20kcplpj52</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZVk2LzYoEXMyN5n6ehkjAXV_U29qXEM</string>
	<key>GCM_SENDER_ID</key>
	<string>912541914312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucdavcs.189e.CodexCoders.YumFun</string>
	<key>PROJECT_ID</key>
	<string>yumfun-93d9b</string>
	<key>STORAGE_BUCKET</key>
	<string>yumfun-93d9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912541914312:ios:7f57df637942685bf581fd</string>
</dict>
</plist>