<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216480074056-j3uh56cechhneicf3952c5sov7cvv4mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216480074056-j3uh56cechhneicf3952c5sov7cvv4mm</string>
	<key>API_KEY</key>
	<string>AIzaSyBDoRSNtWO02ijHC7ksaHBVGwJn9xQ1llw</string>
	<key>GCM_SENDER_ID</key>
	<string>216480074056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucdavcs.189e.CodexCoders.YumFun</string>
	<key>PROJECT_ID</key>
	<string>yumfun</string>
	<key>STORAGE_BUCKET</key>
	<string>yumfun.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216480074056:ios:de3acb925f73d011b38b7d</string>
</dict>
</plist>